body {
  font-family: "Noto Sans", sans-serif;
}

input {
  border: 0.5px #c6c9d1 solid;
  width: 100%;
  padding: 5px 0;
  margin-bottom: 50px;
}

form {
  margin: 20px 0;
}

#button {
  border-radius: 0%;
  padding: 6px 15px;
  color: white;
  background-color: #1ab2a8;
  border: none;
  font-weight: bold;
  width: 100%;
  margin-bottom: 50px;
}

#currentL {
  border-radius: 0%;
  padding: 6px 15px;
  color: white;
  background-color: #00a6ed;
  border: none;
  font-weight: bold;
  width: 100%;
  margin-bottom: 50px;
}

ul {
  list-style: none;
}
.container {
  padding: 0;
}
.day {
  font-size: 22px;
  font-weight: 500;
  color: #62697b;
}
.date {
  color: #939aa9;
  font-weight: 500;
}

.icon {
  position: relative;
  bottom: 2px;
  display: block;
  font-size: 50px;
}

.degree {
  position: relative;
  bottom: -15px;
  color: #5a6275;
  font-size: 26px;
  font-weight: 500;
}

li {
  border: 0.5px #c6c9d1 solid;
  padding: 5px;
  margin: 5px 0;
}

.today {
  color: #62697f;
  font-size: 18px;
  font-weight: 300;
}
.city {
  color: #62697f;
  font-size: 18px;
  font-weight: 300;
}

.tdegree {
  position: relative;
  color: #0f0f10;
  font-size: 52px;
  font-weight: 300;
}

.ticon {
  position: relative;
  font-size: 52px;
}

hr {
  margin: 0 auto;
}

.authorcont {
  max-width: 800px;
  margin: 50px auto;
}

.all {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 7px 5px 11px rgba(225, 224, 224, 0.5);
  color: #cdcdcd;
}

.overview {
  margin-top: 20px;
}

#description {
  padding: 0;
  line-height: 10px;
  border: none;
  text-align: left;
  text-transform: capitalize;
  font-size: 12px;
  padding: 0;
  margin-top: 15px;
  font-weight: 300;
  color: #62697f;
}

.wind {
  list-style: none;
  color: #62697f;
  font-size: 12px;
  padding: 0;
  margin-top: 15px;
  font-weight: 300;
}
.addition {
  padding: 0;
  line-height: 10px;
  border: none;
  text-align: left;
}

#celsius-link {
  position: relative;
  bottom: 30px;
  font-size: 12px;
  font-weight: 300;
}

#fahrenheit-link {
  position: relative;
  bottom: 30px;
  font-size: 12px;
  font-weight: 300;
}

#author {
  font-size: 12px;
  font-weight: 300;
}
