body {
  font-family: "Noto Sans", sans-serif;
}

input {
  border: 0.5px #c6c9d1 solid;
  width: 100%;
  padding: 5px 0;
  margin-bottom: 50px;
}

form {
  margin: 20px 0;
}

#button {
  border-radius: 0%;
  padding: 6px 15px;
  color: white;
  background-color: #1ab2a8;
  border: none;
  font-weight: bold;
  width: 100%;
  margin-bottom: 50px;
}

#currentL {
  border-radius: 0%;
  padding: 6px 15px;
  color: white;
  background-color: #00a6ed;
  border: none;
  font-weight: bold;
  width: 100%;
  margin-bottom: 50px;
}

.container {
  padding: 0;
}
.day {
  position: relative;
  font-size: 22px;
  bottom: -30px;
  font-weight: 400;
  color: #62697b;
}

.icon {
  margin: -15px;
}

.degree {
  position: relative;
  bottom: -30px;
  color: #5a6275;
  font-size: 24px;
  font-weight: 400;
}

.weekdays {
  border: 0.5px #c6c9d1 solid;
  padding: 5px;
  margin: 5px 0;
}

#forecast :hover {
  background-color: #b2dcda;
}

.today {
  color: #62697f;
  font-size: 18px;
  font-weight: 300;
}
.city {
  color: #62697f;
  font-size: 18px;
  font-weight: 300;
}
#dash {
  color: #62697f;
}

.tdegree {
  position: relative;
  color: #0f0f10;
  font-size: 52px;
  font-weight: 300;
}

#ticon {
  width: 70px;
  position: relative;
  bottom: 20px;
}
.active {
  color: black;
  font-weight: 500;
  text-decoration: none;
}

.active :hover {
  text-decoration: none;
}

#celsius-link {
  position: relative;
  bottom: 26px;
  font-size: 15px;
  text-decoration: none;
}

#fahrenheit-link {
  position: relative;
  bottom: 26px;
  font-size: 15px;
  text-decoration: none;
}
hr {
  margin: 0 auto;
}

.authorcont {
  max-width: 800px;
  margin: 50px auto;
}

.all {
  background-color: #e2eff3;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 7px 5px 11px rgba(225, 224, 224, 0.5);
}

.overview {
  margin-top: 20px;
}

#description {
  padding: 0;
  line-height: 10px;
  border: none;
  text-align: left;
  text-transform: capitalize;
  font-size: 12px;
  padding: 0;
  margin-top: 15px;
  font-weight: 300;
  color: #62697f;
}

.wind {
  list-style: none;
  color: #62697f;
  font-size: 12px;
  padding: 0;
  margin-top: 15px;
  font-weight: 300;
}
.addition {
  padding: 0;
  margin-top: 5px;
  line-height: 10px;
  border: none;
  text-align: left;
}

#author {
  font-size: 12px;
  font-weight: 300;
}
